/*#side {*/
/*top: 10px;*/
/*position: fixed;*/
/*left:25px;*/
/*margin-left: -180px;*/
/*}*/

#sidebar
{
    position: fixed;
    padding-left: 20px;
    padding-top: 15px;
}

#nav {
    font-size:10pt;
    /*width: 150px;*/
    margin-left:7px
}

ul#nav
{
    line-height: 1.9em;
    list-style-type: none;
    padding-left: 0px;
}

#nav ul
{
    line-height: 1.5em;
    list-style-type: none;
    padding-left: 0px;
    margin-top: -4px;
    margin-left: 20px;
}

.nav-top
{
    padding-top: 10px;
    text-align:center;	line-height:130%;
}

.nav-bottom
{
    margin-top: 40px;
    text-align:center;	line-height:130%;
}

.fredbox {
    background-image: url(../images/_main/grade.JPG);
    background-repeat:no-repeat;
    font:small-caps 10pt Verdana;
    font-size:14px;
    font-weight:bold;
    width:138px;
    height:10%;
    color:black;
    cursor:pointer;
    border:solid black 1px;
    padding:6px;
    text-align:center;
    letter-spacing:2px;
    overflow:hidden;
    background-color:rgb(75%,75%,75%);
}

.mission {
    line-height: 140%;
    width:138px;
    font-size:10pt;
    border:solid black 1px;
    padding-top:10px;
    padding-bottom:10px;
    padding-right:0px;
    padding-left:6px;
    background-color:#EEEEEE
}

.pointer {font-size:16px;font-weight:bold;}

.arrow-left {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right:6px solid black;
    display: inline-block;
}

.home_link a
{
    font-family: arial, tahoma, 'arial black';
    color:brown;
    font-size: 14px;
    font-weight:bold
}

.home_link a:link {text-decoration: none;}
.home_link a:visited {text-decoration: none;}
.home_link a:active {text-decoration: none; }
.home_link a:hover {color:black;}