<H2>{{galleryName}} Gallery</H2>

<div id="gallery" style="text-align:center;">

    <table id="gallery-table" align="center" style="text-align:center;">
        <tr ng-repeat="row in photoMap">
            <td ng-repeat="photo in row">
                <a ng-href="#/gallery/{{galleryName}}/photo/{{photo.filename}}">
                    <img ng-src="images/{{getThumb(photo)}}" />
                </a>
                <br>

                <span class="title" style="font-weight:bold; font-size:12px">{{photo.title}}</span>
            </td>
        </tr>
    </table>

    <br style="clear: both;" />
    <a style="clear: both;" align="center" href="#/gallery/{{galleryName}}/#top">Back to top</a>

</div>