<H2>Galleries</H2>
	<p>The photographs are divided into nine galleries consisting of images made in particular communities or areas in Walworth County, Wisconsin. The exception is the Miscellaneous gallery, which contains images from various locations, including outside Walworth County. 
	</p>
	<p>If you are looking for photographs of Geneva Lake, please note that because Fontana, Lake Geneva, and Williams Bay border the lake, most of the photographs in those community galleries include the lake. The Geneva Lake gallery has general photographs of the lake. Many of them were made from the north and south shores in Linn Township or the west shore in Walworth Township, but either township may not be named in the photo descriptions.
	</p>

<div style="text-align;center;">

	<div id="gallery">
		
		<table id="gallery_table" align="center" style="text-align:center;">
		   <tr>
		        <!--<% @galleries.each do |gallery| %>-->
		            <!--<td style="padding-left:35px; padding-right:35px; padding-bottom:20px; padding-top:20px; text-align:center;">       -->
		                <!--<span class="title">-->
		                		<!--<b><%=gallery.name%></b>-->
						<!--</span>-->
						<!---->
		                <!--<%=link_to(image_tag(gallery.product.image.public_filename("thumb")), :action => 'gallery', :id => gallery.name)%>-->
		            <!--</td>-->
		        <!---->
		           <!--<%= @counter.end_tr %>-->
		         <!---->
		        <!--<% end %>-->
		    </tr>
		</table>
	
	</div>
</div>