<div>

	<H2>
	    Providing the Right Words for You
	</H2>
  
	<div>  
		<p><span id="first_letter" class="first_letter">W</span>hat would you like written? Whatever it is, most likely Fred Noer can provide it. His goal with all writing is clear reader understanding, which he achieves through thorough preparation, attention to detail, and a straightforward writing style. He can write text for such items as:
	    </p>
	    <table style="font-size:100%" border=0 cellspacing=3 cellpadding=0>
	        <tr >
	            <td style="padding-left:10px; padding-right:10px">Appeals</td> <td style="padding-left:10px; padding-right:10px">Flyers</td> <td style="padding-left:10px; padding-right:10px">Reports</td>
	        </tr>
	        <tr>
	            <td style="padding-left:10px; padding-right:10px">Articles</td> <td style="padding-left:10px; padding-right:10px">Instructions</td> <td style="padding-left:10px; padding-right:10px">Resumes</td>
	        </tr>
	        <tr>
	            <td style="padding-left:10px; padding-right:10px">Biographies</td> <td style="padding-left:10px; padding-right:10px">Letters</td> <td style="padding-left:10px; padding-right:10px">Sell sheets</td>
	        </tr>
	        <tr>
	            <td style="padding-left:10px; padding-right:10px">Brochures</td> <td style="padding-left:10px; padding-right:10px">Manuals</td> <td style="padding-left:10px; padding-right:10px">Web sites</td>
	        </tr> 
	        <tr>
	            <td style="padding-left:10px; padding-right:10px">Catalogs</td> <td style="padding-left:10px; padding-right:10px">Newsletters</td> <td style="padding-left:10px; padding-right:10px">Advertisements</td>
	        </tr>        
	        <tr>
	            <td style="padding-left:10px; padding-right:10px">Direct mail</td> <td style="padding-left:10px; padding-right:10px">Promotions</td> <td style="padding-left:10px; padding-right:10px">Annual reports</td>
	        </tr>        
	        <tr>
	            <td style="padding-left:10px; padding-right:10px">Employee handbooks</td> <td style="padding-left:10px; padding-right:10px">Meeting guides</td> <td style="padding-left:10px; padding-right:10px">Business plans</td>
	        </tr>
	        <tr>
	            <td style="padding-left:10px; padding-right:10px">Product sheets</td> <td style="padding-left:10px; padding-right:10px">News releases</td> <td style="padding-left:10px; padding-right:10px">Company profiles</td>
	        </tr>
	    </table>
	    <p>
	    <br>
	    <b>Writing examples:</b>
	    <p>
	    
	    <ul style="padding-left:2em">
			<li><a ng-href="#/writing/brochures">Brochures</a></li>
			<li><a ng-href="#/writing/company-profiles">Company profiles</a></li>
			<li><a ng-href="#/writing/feature-articles">Feature articles</a></li>
			<li><a ng-href="#/writing/news-articles">News articles</a></li>
			<li><a ng-href="#/writing/news-releases">News releases</a></li>
	    </ul>
	    
	    <p>
		His writing has covered a broad spectrum over 40 years. Much of his writing has been journalism for local, regional, and national publications. He has written about assorted topics, issues, events, and people pertaining to such aspects of life as government, business, sports, economics, crime, agriculture, art, celebration, and education. 
		</p>
		
		<p>
		In addition to writing, Fred served 13 years as the editor of a weekly newspaper and a weekly general-interest publication. He also has edited a lifestyle magazine, a real estate firm's promotional publication, a monthly drag racing newspaper, and a community publication advocating construction of a racetrack. 
		He also is skilled at 
		<!--<%= link_to 'copyediting', :controller => 'writing', :action => 'copyediting'%>, -->
		<!--<%= link_to 'proofreading', :controller => 'writing', :action => 'proofreading'%>, and-->
		<!--<%= link_to 'photography', :controller => 'photography', :action => 'index'%>.-->

			<a ng-href="#/copyediting">copyediting</a>,
			<a ng-href="#/proofreading">proofreading</a>, and
			<a ng-href="#/photography">photography</a>
		</p>
		
		<p>How may Fred serve you? Call him at {{info.phone}}, or e-mail him at <%= link_to 'fred@frednoer.com', :controller => 'main', :action => 'contact'%>.
		</p>
	    
	</div>
</div>